{% extends "activida.html" %}

{% block title %}Animales Exóticos{% endblock %}

{% block content %}
<div class="text-center container my-4">
    <h2 class="text-success fw-bold mb-3">Animales Exóticos</h2>
    <p class="lead">Conoce algunos de los animales más fascinantes del planeta.</p>


    <h4 class="mt-4 text-primary">Terrestres</h4>
    <div class="row g-4 my-3">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/boa.jpeg') }}" class="card-img-top" alt="Boa blood">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Boa blood</h5>
                    <p class="card-text flex-grow-1">La boa blood es una boa constrictora enana de Centroamérica (originaria de El Salvador) caracterizada por su coloración intensa
                        y los tonos cálidos de rojo, naranja y marrón, similar a un volcán. Es una boa de genética recesiva, 
                        lo que significa que ambos padres deben portar el gen para que la característica se manifieste en la descendencia. Sus ojos son distintivamente oscuros.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/serval.webp') }}" class="card-img-top" alt="Serval">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Serval</h5>
                    <p class="card-text flex-grow-1">El serval es un felino africano con patas largas y orejas grandes. Es un cazador muy ágil y puede saltar más de 3 metros para atrapar presas, principalmente aves.</p>
                </div>
            </div>
        </div>
    </div>


    <h4 class="mt-4 text-primary">Acuáticos</h4>
    <div class="row g-4 my-3">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/hu.webp') }}" class="card-img-top" alt="Histrio histrio">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Histrio histrio</h5>
                    <p class="card-text flex-grow-1">El ajolote es conocido como el Peter Pan de las salamandras. Si bien la mayoría de los anfibios superan su fase acuática para 
                        comenzar su vida en tierra, el ajolote conserva en 
                        gran parte sus características larvales y pasa su vida adulta en el agua. Sin embargo, continúa creciendo y llega alcanzar hasta 30 cm de largo.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/dragon.jpg') }}" class="card-img-top" alt="Dragón azul">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Dragón azul</h5>
                    <p class="card-text flex-grow-1">El ajolote es conocido como el Peter Pan de las salamandras. Si bien la mayoría de los anfibios superan su fase acuática para 
                        comenzar su vida en tierra, el ajolote conserva en 
                        gran parte sus características larvales y pasa su vida adulta en el agua. Sin embargo, continúa creciendo y llega alcanzar hasta 30 cm de largo.</p>
                </div>
            </div>
        </div>
    </div>


    <h4 class="mt-4 text-primary">Aéreos</h4>
    <div class="row g-4 my-3">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/tucan.jpg') }}" class="card-img-top" alt="Tucán">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Tucán</h5>
                    <p class="card-text flex-grow-1">Se encuentran entre las aves más reconocibles del mundo debido a su inusual y enorme pico. Su apariencia única y colorida los convierte en 
                        una especie muy apreciada, pero también los expone al riesgo de ser cazados para el comercio de mascotas. Los tucanes son nativos de los trópicos de 
                        América y prefieren los bosques antiguos donde hay árboles grandes y viejos donde anidar.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/murcielago.jpg') }}" class="card-img-top" alt="Murciélago">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Murciélago</h5>
                    <p class="card-text flex-grow-1">Los murciélagos son mamíferos voladores que usan la ecolocalización para orientarse. Son esenciales para el control de insectos y la polinización.</p>
                </div>
            </div>
        </div>
    </div>


    <h4 class="mt-4 text-primary">Subterráneos</h4>
    <div class="row g-4 my-3">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/rata.webp') }}" class="card-img-top" alt="Heterocephalus glaber">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Heterocephalus glaber</h5>
                    <p class="card-text flex-grow-1">Las ratas topo desnudas son eusociales, lo que significa que viven en grandes colonias donde solo una hembra se reproduce 
                        y la mayoría de las obreras pasan toda su vida trabajando para la colonia. Esta es una característica inusual en los mamíferos.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/spp.jpg') }}" class="card-img-top" alt="Nicrophorus spp">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Nicrophorus spp</h5>
                    <p class="card-text flex-grow-1">Los animales de estos grupos están estrechamente relacionados. Las obreras generalmente crían a sus hermanas, ya que una sola reina puede 
                        reinar durante muchos años. Si una reina muere, algunas hembras pueden luchar a muerte para convertirse en la nueva reina.</p>
                </div>
            </div>
        </div>
    </div>

    <h4 class="mt-4 text-primary">Anfibios</h4>
    <div class="row g-4 my-3">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/ojosr.jpg') }}" class="card-img-top" alt="Agalychnis callidryas">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Agalychnis callidryas</h5>
                    <p class="card-text flex-grow-1">Es una especie de anfibio anuro de la familia de Hylidae, que habita desde la parte oriental de Honduras hasta el noroeste de Colombia.
                        Su nombre proviene del griego y lo más notable son sus grandes ojos rojos con pupila vertical. Son de hábitos nocturnos y arborícolas.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/ajolote.jpg') }}" class="card-img-top" alt="Ajolote">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Ajolote</h5>
                    <p class="card-text flex-grow-1">El ajolote conserva sus características larvales durante toda su vida. Puede regenerar extremidades y órganos, y es símbolo de conservación por su estado crítico de amenaza.</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}



