{% extends "activida.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="text-center">
    <h2 class="fw-bold mb-4 text-primary">Bienvenido</h2>
    <p class="lead">
        En esta página encontrarás información sobre distintos temas fascinantes:
        animales exóticos, vehículos antiguos, maravillas del mundo y más.
    </p>

    <div class="row justify-content-center my-4">
        <div class="col-md-5 mb-3">
            <img src="{{ url_for('static', filename='imagenes/images.jpg') }}" class="img-fluid rounded shadow-lg" alt="Imagen 1">
            <img src="{{ gif_url }}" alt="GIF">
        </div>
        <div class="col-md-5">
            <img src="{{ url_for('static', filename='imagenes/images.jpg') }}" class="img-fluid rounded shadow-lg" alt="Imagen 2">
                <img src="{{ gif_url }}" alt="GIF">
        </div>
    </div>

    <p class="text-muted">
        Explora las secciones del menú para descubrir más contenido interesante.
    </p>
</div>
{% endblock %}
