{% extends "activida.html" %}

{% block title %}Maravillas Del Mundo{% endblock %}

{% block content %}
<div class="text-center">
    <h2 class="text-warning fw-bold">Las 7 Maravillas del Mundo Moderno</h2>
    <p class="lead">Conoce los monumentos más impresionantes creados por la humanidad.</p>


    <h4 class="mt-4 text-primary">La Gran Muralla China</h4>
    <div class="row my-3 justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/m.jpg') }}" class="card-img-top" alt="Gran Muralla China">
                <div class="card-body">
                    <h5 class="card-title">La Gran Muralla China</h5>
                    <p class="card-text">
                        La Gran Muralla comenzó como una serie de muros separados erigidos por varios estados
                            chinos en el siglo VII a.C., 
                            pero fue durante la dinastía Qin
                            (221-206 a.C.) que el emperador Qin Shi Huang la unificó y expandió para defenderse de los nómadas del norte. A lo largo de la historia, otras 
                            dinastías como la Han la restauraron y extendieron, pero fue la dinastía Ming (1368-1644) la que realizó la construcción más significativa, utilizando ladrillo y piedra para fortalecerla contra los mongoles. 
                            La muralla, que incluye torres de vigilancia y cuarteles, evolucionó de ser una defensa militar a convertirse en un símbolo cultural de la resistencia y el orgullo nacional chino. Aunque la posterior dinastía Qing la abandonó, hoy las
                                secciones de la era Ming están restauradas y son una importante atracción turística, reconocida como Patrimonio de la Humanidad por la UNESCO.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <h4 class="mt-4 text-primary">Petra (Jordania)</h4>
    <div class="row my-3 justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/petra.jpg') }}" class="card-img-top" alt="Petra">
                <div class="card-body">
                    <h5 class="card-title">Petra</h5>
                    <p class="card-text">
                    Petra, la "Ciudad Rosa" de Jordania, fue fundada por el pueblo nabateo en el siglo I a.C., quienes la convirtieron en un próspero centro comercial controlando las rutas entre Arabia, Egipto y Siria. A diferencia de otras ciudades construidas, los nabateos tallaron 
                    impresionantes templos, tumbas y complejos sistemas hidráulicos directamente en las montañas de arenisca que la rodean. En el año 106 d.C., fue anexada por el Imperio Romano, lo que la llevó a una nueva fase de desarrollo arquitectónico con influencias helenísticas y grecorromanas. Con la llegada de nuevas rutas comerciales marítimas, la ciudad perdió su importancia estratégica, y
                        tras ser devastada por un terremoto en 363 d.C., fue gradualmente abandonada. Quedando en el olvido para el mundo occidental durante siglos, Petra fue redescubierta en 1812 por el explorador suizo Johann Ludwig Burckhardt. Hoy, esta maravilla arqueológica es un Patrimonio de la Humanidad por la UNESCO y una de las Siete Maravillas del Mundo Moderno, atrayendo a visitantes de todo el planeta.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <h4 class="mt-4 text-primary">Cristo Redentor (Brasil)</h4>
    <div class="row my-3 justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/cristo.jpg') }}" class="card-img-top" alt="Cristo Redentor">
                <div class="card-body">
                    <h5 class="card-title">Cristo Redentor</h5>
                    <p class="card-text">
                    La idea del Cristo Redentor se originó en el siglo XIX, pero el proyecto se materializó en el siglo XX, impulsado por el círculo católico de Río de Janeiro en respuesta a 
                    la creciente laicización de la sociedad. La construcción, financiada con donaciones de brasileños, comenzó en 1922 y tardó nueve años en completarse. Ubicada en la cima del cerro del Corcovado y construida en hormigón armado y revestida con esteatita, la estatua Art Déco fue 
                    inaugurada el 12 de octubre de 1931, para conmemorar el centenario de la independencia de Brasil. Con sus brazos abiertos sobre la ciudad, el Cristo Redentor se convirtió en un símbolo de paz, fe y un icono turístico mundial, siendo elegido en 2007 como una de las Siete Maravillas del Mundo Moderno.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h4 class="mt-4 text-primary">Machu Picchu (Perú)</h4>
    <div class="row my-3 justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/machu.jpg') }}" class="card-img-top" alt="Machu Picchu">
                <div class="card-body">
                    <h5 class="card-title">Machu Picchu</h5>
                    <p class="card-text">
                    Machu Picchu, construida en el siglo XV por el emperador inca Pachacútec, fue una ciudadela religiosa y 
                    de descanso para la élite incaica, ubicada en lo alto de los Andes peruanos. El complejo arqueológico, caracterizado por 
                    su impresionante arquitectura de piedra ensamblada sin mortero, se mantuvo oculto y desconocido para el mundo occidental tras la 
                    conquista española, aunque campesinos locales siempre supieron de su existencia. Fue el explorador estadounidense Hiram Bingham quien, en 1911, 
                    la redescubrió y la dio a conocer al mundo, ganándose el apodo de la "ciudad perdida de los incas". Hoy en día, Machu Picchu es un icono de la cultura inca y un importante destino turístico, 
                    reconocido como Patrimonio de la Humanidad por la UNESCO.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <h4 class="mt-4 text-primary">Chichén Itzá (México)</h4>
    <div class="row my-3 justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/chichén.webp') }}" class="card-img-top" alt="Chichén Itzá">
                <div class="card-body">
                    <h5 class="card-title">Chichén Itzá</h5>
                    <p class="card-text">
                    Chichén Itzá, uno de los sitios arqueológicos más emblemáticos de la civilización maya, fue una poderosa ciudad sagrada y 
                    centro ceremonial en la Península de Yucatán, México. Fundada alrededor del siglo VI d.C., alcanzó su máximo esplendor entre los siglos X y XI, cuando se convirtió en un importante centro político, 
                    religioso y económico. La ciudad muestra una fascinante mezcla de estilos arquitectónicos mayas y toltecas, reflejando las influencias de diferentes grupos a lo largo de su historia. El declive de Chichén Itzá comenzó hacia el siglo XIII, y la ciudad fue abandonada, 
                    aunque continuó siendo un lugar de peregrinación. Redescubierta en el siglo XIX, sus estructuras más famosas, como la pirámide de Kukulkán, el Templo de los Guerreros y el Juego de Pelota, han sido restauradas para atraer a millones de visitantes. Hoy, es Patrimonio de la Humanidad 
                    por la UNESCO y una de las Nuevas Siete Maravillas del Mundo Moderno.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <h4 class="mt-4 text-primary">Coliseo Romano (Italia)</h4>
    <div class="row my-3 justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/coliseo.jpg') }}" class="card-img-top" alt="Coliseo Romano">
                <div class="card-body">
                    <h5 class="card-title">Coliseo Romano</h5>
                    <p class="card-text">
                    El Coliseo Romano, también conocido como el Anfiteatro Flavio, fue construido por la 
                    dinastía Flavia entre los años 70 y 80 d.C. para ser un regalo al pueblo romano. Financiado con el botín de la guerra contra los judíos, el Coliseo 
                    albergaba espectáculos masivos como combates de gladiadores, cacerías de animales salvajes, ejecuciones públicas e incluso simulacros de batallas navales. Tras siglos de uso y el declive del 
                    Imperio Romano, el anfiteatro perdió su función original y, durante la Edad Media y el Renacimiento, fue utilizado como cantera, fortaleza, cementerio, albergue y taller. Aunque hoy se encuentra en ruinas debido a terremotos y 
                    el saqueo de sus materiales, el Coliseo 
                    ha sido restaurado y se mantiene como un símbolo icónico de la grandeza de Roma, atrayendo a millones de visitantes.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h4 class="mt-4 text-primary">Taj Mahal (India)</h4>
    <div class="row my-3 justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/taj.jpg') }}" class="card-img-top" alt="Taj Mahal">
                <div class="card-body">
                    <h5 class="card-title">Taj Mahal</h5>
                    <p class="card-text">
                    El Taj Mahal fue construido en Agra, India, por orden del emperador mogol Shah Jahan entre 1631 y 
                    1653, como un mausoleo para su amada esposa Mumtaz Mahal, quien murió al dar a luz a su decimocuarto hijo. Esta obra maestra de la arquitectura mogol, 
                    que combina elementos de los estilos islámico, persa, indio y turco, fue edificada con mármol blanco e incrustaciones de piedras semipreciosas, por una 
                    fuerza de trabajo de más de 20.000 artesanos. Después de la construcción, Shah Jahan fue depuesto por su hijo y pasó el resto de su vida en cautiverio, observando el 
                    mausoleo desde su prisión. Tras su muerte, fue enterrado junto a su esposa en el mismo Taj Mahal, sellando el monumento como un símbolo eterno de amor. Hoy en día, es un Patrimonio de la Humanidad por la UNESCO y 
                    una de las Siete Maravillas del Mundo Moderno
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
