{% extends "activida.html" %}

{% block title %}Vehículos Antiguos{% endblock %}

{% block content %}
<div class="text-center">
    <h2 class="text-danger fw-bold">Vehículos Antiguos</h2>
    <p class="lead">Una mirada al origen y evolución de los automóviles.</p>

    <h4 class="mt-4 text-primary">Ford Modelo T</h4>
    <div class="row my-3 justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/t.jpg') }}" class="card-img-top" alt="Ford Modelo T">
                <div class="card-body">
                    <h5 class="card-title">Ford Modelo T</h5>
                    <p class="card-text">
                        El Ford Modelo T, lanzado en 1908, fue un vehículo que revolucionó la
                            industria automotriz y la sociedad al convertirse en el primer coche asequible para las masas. Gracias a la visión de Henry Ford, su producción en cadena,
                                introducida en 1913, estandarizó el proceso de fabricación, reduciendo drásticamente los costes y el tiempo de ensamblaje. 
                            Esta innovación no solo bajó el precio del vehículo hasta hacerlo accesible para la clase media, sino que también transformó el concepto de movilidad, facilitando el transporte personal
                                y modificando los hábitos de vida. Así, el Modelo T no solo puso el mundo sobre ruedas, sino que también sentó las bases de la producción en masa que dominaría la manufactura en el siglo XX.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h4 class="mt-4 text-primary">Mercedes-Benz 300 SL</h4>
    <div class="row my-3 justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/sl.jpg') }}" class="card-img-top" alt="Mercedes-Benz 300 SL">
                <div class="card-body">
                    <h5 class="card-title">Mercedes-Benz 300 SL</h5>
                    <p class="card-text">
                    El Mercedes-Benz 300 SL, reconocido como un ícono automotriz, surgió de la exitosa 
                    experiencia en competición de la marca con el modelo de carreras W194 en los años 50. El importador estadounidense 
                    Max Hoffman convenció a la compañía de crear una versión de calle, que debutó en el Salón Internacional del Automóvil de Nueva York en 1954. Conocido por sus distintivas 
                    puertas de ala de gaviota (Gullwing), un rasgo necesario debido a su innovador chasis tubular, el 300 SL se convirtió rápidamente en el "superdeportivo" de su época. Equipado con inyección
                        directa de combustible, una tecnología pionera en la época, combinaba lujo y rendimiento de competición en un solo vehículo, y su posterior versión Roadster, lanzada en 1957, eliminó las icónicas puertas para ofrecer
                            una experiencia descapotable.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h4 class="mt-4 text-primary">Rolls-Royce Phantom</h4>
    <div class="row my-3 justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/rolls.jpg') }}" class="card-img-top" alt="Rolls-Royce Phantom">
                <div class="card-body">
                    <h5 class="card-title">Rolls-Royce Phantom</h5>
                    <p class="card-text">
                    El Rolls-Royce Phantom, cuyo nombre se ha reservado durante un siglo para el modelo cúspide de la marca, fue lanzado por primera vez en 1925 
                    como el "Nuevo Phantom". A lo largo de sus ocho generaciones, ha mantenido su rol como el vehículo más magnífico y deseable de Rolls-Royce, adaptándose a los tiempos sin 
                    comprometer sus principios de ingeniería y diseño. A diferencia de los modelos contemporáneos, los Phantom de la era clásica se vendían como chasis rodantes, permitiendo que los clientes eligieran carrocerías personalizadas por
                        sus fabricantes preferidos. Su evolución ha continuado a lo largo de décadas, con cada nueva versión reafirmando su estatus de máximo lujo, artesanía y excelencia.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <h4 class="mt-4 text-primary">Jaguar E-Type</h4>
    <div class="row my-3 justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/jaguar.webp') }}" class="card-img-top" alt="Jaguar E-Type">
                <div class="card-body">
                    <h5 class="card-title">Jaguar E-Type</h5>
                    <p class="card-text">
                        El Jaguar E-Type, a menudo aclamado por muchos como el coche más bonito de la historia del motor, 
                        fue un deportivo británico que se fabricó entre 1961 y 1974. Inspirado en la aerodinámica del exitoso coche de carreras D-Type de Jaguar en Le Mans, su 
                        impresionante diseño fue obra de Malcolm Sayer. Lanzado en el Salón del Automóvil de Ginebra de 1961, el E-Type combinó un diseño espectacular, un rendimiento de 
                        primera clase y un precio relativamente asequible, lo que lo convirtió en un éxito inmediato y un icono de la década de 1960. El famoso Enzo Ferrari llegó a afirmar que era "el coche más bello 
                        jamás fabricado". 
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h4 class="mt-4 text-primary">Cadillac Eldorado</h4>
    <div class="row my-3 justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='imagenes/cadillac.webp') }}" class="card-img-top" alt="Cadillac Eldorado">
                <div class="card-body">
                    <h5 class="card-title">Cadillac Eldorado</h5>
                    <p class="card-text">
                    El Cadillac Eldorado fue un cupé y descapotable de lujo personal, fabricado por Cadillac desde 1953 hasta 2002. A lo largo de sus 12 generaciones, 
                    el Eldorado fue un símbolo de la opulencia y el estilo americano, caracterizado por su diseño llamativo, su gran tamaño y sus características de lujo.
                        El nombre, que significa "el dorado" en español, hacía referencia a 
                    la mítica ciudad de oro y simbolizaba la riqueza y la grandeza.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
